
:root {
    --color-primary: linear-gradient(90deg,
        hsl(266deg 59% 60%) 0%,
        hsl(258deg 55% 62%) 2%,
        hsl(248deg 51% 64%) 11%,
        hsl(236deg 48% 64%) 25%,
        hsl(224deg 50% 62%) 42%,
        hsl(213deg 51% 59%) 61%,
        hsl(204deg 54% 56%) 79%,
        hsl(196deg 56% 51%) 93%,
         hsl(190deg 79% 44%) 100%);
    ;
     --shadow-color: 286deg 36% 56%;
     --shadow-elevation-high: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
     1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
     2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
     4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
     7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
     11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
     17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
     25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
     --shadow-blur: 0px 0px 34px 3px hsl(266deg 59% 60%);
     --shadow-blur-bar: 0px 0px 20px -5px hsl(266deg 59% 60%);
    
}
html {
    
   
    color: rgb(188, 188, 188)!important;
    
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto-Regular',
    sans-serif;
    font-size: 16px;
    color: rgb(188, 188, 188) !important;
    background-color: rgb(39, 39, 39) !important;
    display: grid;
    grid-template-areas: 
    "header header"
    "main aside";
    grid-template-columns: 8fr 2fr;
    grid-template-rows: 50px 90%;

}



/* HEADER */

header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3em;
    position: fixed;
    z-index: 100;
}

.nav-link, .navbar-brand {
    color:  #e0e0e0!important;
;
}
 .nav-transition {
    background-color: rgb(49, 51, 53)!important;
     transition: background-color 0.5s;
     animation: aparecer 0.5s ease-in-out;
 }

 .ocultar {
     animation: desaparecer 0.5s ease-in-out;
 }

 @keyframes aparecer {
     0% {
         height: 1em;
     }

     50% {
         height: 3em;
     }
 }

 @keyframes desaparecer {
     0% {
         height: 3em;
         background-color: rgb(49, 51, 53);
     }

     50% {
         height: 1em;
         background-color: transparent;
     }
 }

.underline-hover {
    position: relative;
    display: inline-block;
}

.underline-hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: hsl(190deg 79% 44%);
    transition: width 0.3s ease-in-out;
}

.underline-hover:hover::after {
    width: 100%;
}

.nav-link:hover, .active {
    color: hsl(189, 100%, 95%)!important;
}

/* MAIN */

main {
    grid-area: main;
}

/* HOME */

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40em;
}



#home__photo {
    width: 50%;
    text-align: center;
}

#home__photo--item {
    object-fit: contain;
    border-radius: 50%;
    width: 20em;

}
#home__description--container {
    height: 200px;
}
#home__description {
    width: 50%;
    text-align: center;
}

.cursor {
    display: inline-block;
    height: 1em;
    width: 1px;
    background-color: #fff;
    animation: cursor-blink 1s infinite; 
}

@keyframes cursor-blink {

    0%,
    50% {
        opacity: 1;
    }

    51%,
    100% {
        opacity: 0;
    }
}

#home__description--item {
    font-size: larger;
    text-align: left;
}

#home__description--item.active {
    height: auto;
}

/* ASIDE */
aside {
    grid-area: aside;
    position: fixed;
    top: 15em;
    width: 10%;
    height: 20em;
    right: 2em;
    z-index: 10;
}

#menu {
    width: 100%;
    height: 100%;
   display: flex;
   justify-content: space-around;
}

#menu--line {
    width: auto;
    height: 100%;
    border-left: 2px rgb(78, 78, 78) solid;
     display: flex;
     flex-direction: column;
     justify-content: space-between;

}
.menu__circle--container {
    
    width: auto;
    height: auto;
    
}

.menu__circle--item {
    position: relative;
    left: -0.5em;
    width: 1em;
    height: 1em;
    background-image: var(--color-primary);
    border-radius: 50%;
    
}

.menu__circle--item.active {
    box-shadow: var(--shadow-blur);
    transition: box-shadow 0.3s ease;
}

#menu__icons--container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.menu__icons--item {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    padding: 0.5em;
    background-color: #343434;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* ABOUT ME */

#about-me {
    width: 100%;
    text-align: center;
    min-height: 200px;
}
#about-me__timeline {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    border-bottom: 2px rgb(78, 78, 78) solid;
    justify-content: space-between;
}

.timeline__date--container {
    max-width: 1em;
    cursor: pointer;
}

.timeline__date--text {
    text-align: center;

}
.timeline__date--item {
    position: relative;
    top: 0.5em;
    width: 1em;
    height: 1em;
    background-image: linear-gradient(90deg,
        hsl(266deg 59% 60%) 0%,
        hsl(258deg 55% 62%) 2%,
        hsl(248deg 51% 64%) 11%,
        hsl(236deg 48% 64%) 25%,
        hsl(224deg 50% 62%) 42%,
        hsl(213deg 51% 59%) 61%,
        hsl(204deg 54% 56%) 79%,
        hsl(196deg 56% 51%) 93%,
        hsl(190deg 79% 44%) 100%);
    border-radius: 50%;
}

#about-me__description {
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height 1s ease-in-out;
}

.about-me__description--container {
    display: flex;
    justify-content: space-around;
    text-align: left;
}

#about-me__description.active {
    height: 300px;
   
}



/* SKILLS */

#skills__menu {
    width: 100%;
    display: flex;
    justify-content: space-around;

}

.skills__menu--item {
    cursor: pointer;
}

.skills__menu--item::after {
    content: "";
    display: block;
    position: relative;
    left: 0;
    bottom: 0;
    width: 0px;
    height: 2px;
    background-color: hsl(190deg 79% 44%);
    transition: width 0.3s ease-in-out;
}



#skills__menu--container {
     display: flex;
     width: 90%;
     flex-wrap: wrap;
     height: 100px;
     transition: height 1s ease-in-out;
}

#skills__menu--container.active {
    height: 100px;
}
.skills__menu--item.active::after {
    width: 100%;
}

.bar {
    width: 600px;
    height: 1em;
    background-color: #e0e0e0;
    position: relative;
    border-radius: 2rem;

}

.fill {
    height: 100%;
    width: 0%;
    border-radius: 2rem;
    background-image: var(--color-primary);
    transition: width 5s ease;
    box-shadow: var(--shadow-blur-bar);
    z-index: 50;
}

.polygon--container {
    width: 150px;
    height: 150px;
    background-color: #343434;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: var(--shadow-elevation-high);
}

.polygon--item {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex {
    display: flex;
    justify-content: space-around;
}

.polygon--img {
    width: 5em;
    
}


/* CERTIFICATES */

#certificates-container {
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    flex-wrap: wrap;
}
.card-container {
    max-width: 25em;
    flex-grow: 1;
    height:fit-content;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    background-color: #343434;

}

.card-img-container {
    object-fit: contain;
    object-position: center;
}

.card-img {
    width: fit-content;
}
.card-button {
}

.modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0!important;
}
.modal-img {
    width: 90vw;
    height: 90vh;
}
/* PORTFOLIO */

#portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel-buttons {
    position: absolute;
    width: 100%;
    top: 90%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    z-index: 1;
    transition: all 0.5s ease-in-out;
    text-align: center;
    display: flex;
    justify-content: center;
}


.carousel-buttons.show {
    opacity: 1;
    top: 80%;
}

.carousel-buttons.hide {
    opacity: 0;
    top: 90%;
}

.carousel-item {
    opacity: 1;
    background-color: transparent;                                                          
    transition: background-image 0.5s ease-in-out
}

.carousel-item:hover {
    background-image: linear-gradient(to bottom, transparent, transparent);

}
.carousel-buttons-container {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.carousel-buttons-item {
    width: fit-content;
    height: fit-content;
    color: #343434;
    padding: 0.5em;
    border-radius: 2rem;
    background-image: var(--color-primary);
    border: #343434 1px solid;
    cursor: pointer;
}

.carousel-img-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 255, 0) 0%, rgb(0, 0, 0) 100%);
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 1;
}

.carousel-img-effect.hide {
    opacity: 0;
}
.carousel-img-effect.show {
    opacity: 1;
}

.unlink {
    text-decoration: none;
    color: #343434;
}
